.about {
  margin: 5vh auto;
  width: 70%;
}

.about h1 {
  text-align: center;
}

section::before {
  content: "";
  position: absolute;
  box-shadow: 0px 0px 50px #63cdff;
  border-radius: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: divBefore 0.5s;
}
@keyframes divBefore {
  0% {
    box-shadow: none;
  }
}

.about-me .tilt {
  width: 100% !important;
  background: transparent !important;
  box-shadow: none !important;
  margin: 50px auto !important;
  padding: 0 !important;
  backdrop-filter: blur(2px) !important;
}

.about-me-item {
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

.img {
  width: 400px;
  height: 300px;
  border-radius: 15px;
}

.about-me-item-content {
  width: 50%;
  margin-left: 20px;
}

.about-me-item-content h2 {
  color: orangered;
  text-align: left;
}

.about-me-item-content p {
  text-align: left;
}

.about-me-item-content span {
  font-style: italic;
}

/* ------------------------ references --------------------------- */

.references {
  margin: 5vh auto;
  width: 70%;
}

.referencesItem {
  text-align: center;
  margin: 10vh auto;
  padding: 20px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}

.referencesItemContent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
}

.referencesItemContent > div {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.referencesItemContent > div embed {
  min-height: 400px;
  border-radius: 15px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.referencesItemContent > div a {
  margin: 5px auto;
}

.referencesItemContent > div a span {
  display: block;
}

/* ------------------------ skills & hobbies --------------------------- */

.skills-hobbies {
  margin: 5vh auto;
  width: 60%;
  /* box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px); */
}

.skills-hobbies > h2 {
  text-align: center;
  margin-bottom: 5vh;
}

.skills-hobbies-content > section {
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  padding: 20px;
}

.skills-hobbies-content > section p b {
  color: orangered;
}

.hobbies {
  margin: 10vh auto;
}

.skills-hobbies-content > section ul {
  margin: 20px;
  width: 100%;
}

.skills-hobbies-content > section ul li {
  margin: 10px;
}

/* responsive */
@media only screen and (max-width: 1200px) {
  .about-me-item {
    flex-direction: column;
  }

  .about-me-item > * {
    width: 100%;
    margin: 10px auto;
  }

  .about-me-item-content > * {
    text-align: center !important;
  }
}

@media only screen and (max-width: 850px) {
  .about {
    width: 90%;
  }

  .img {
    width: 300px;
    height: 220px;
    margin: 0 auto;
  }

  .references {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .img {
    width: 220px;
    height: 180px;
    margin: 0 auto;
  }

  .referencesItemContent > div embed {
    height: 200px;
    width: 90%;
    display: block;
    margin: 10px auto;
  }

  .skills-hobbies {
    margin: 5vh auto;
    width: 90%;
  }
}
