.iconsContainer {
  width: 350px;
  border-radius: 15px;
  display: flex;
  background-color: rgb(214, 214, 214);
}

.iconsContainer button {
  width: 70px;
  height: 70px;
  margin: 20px;
  outline: none;
  border: none;
  background: rgb(214, 214, 214);
  box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
  border-radius: 50%;
  transition: 0.2;
}

.iconsContainer button .img {
  border-radius: 15px;
  font-size: 40px !important;
}

.iconsContainer button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.iconsContainer button:hover .img {
  font-size: 42px !important;
}

.iconsContainer button:hover::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.iconsContainer button:hover::before {
  box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.iconsContainer button:active {
  box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #fff;
}

.iconsContainer button .img {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 30px;
  transition: 0.2s;
}

/* ------------------------------------------------- */

.iconsContainerDark {
  margin: 30px auto;
  width: 350px;
  display: flex;
  border-radius: 15px;
  background-color: rgb(114, 114, 114);
}

.iconsContainerDark button {
  width: 70px;
  height: 70px;
  margin: 20px;
  outline: none;
  border: none;
  background: rgb(114, 114, 114);
  box-shadow: 5px 5px 10px #212121, -5px -5px 10px #9d9d9d;
  border-radius: 50%;
  transition: 0.2;
}

.iconsContainerDark button .img {
  border-radius: 15px;
  font-size: 40px !important;
}

.iconsContainerDark button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.iconsContainerDark button:hover .img {
  font-size: 42px !important;
}

.iconsContainerDark button:hover::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(114, 114, 114);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.iconsContainerDark button:hover::before {
  box-shadow: inset -7px -7px 20px 0 #9d9d9d,
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.iconsContainerDark button:active {
  box-shadow: inset 1px 1px 2px #9d9d9d, inset -1px -1px 2px #212121;
}

.iconsContainerDark button .img {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 30px;
  transition: 0.2s;
}

/* ------------------------------------------------- */

.contact {
  text-align: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  margin: 5vh auto;
  backdrop-filter: blur(7px);
  min-height: 50vh;
  padding-bottom: 50px;
}

.contact form {
  width: 60%;
  display: block;
  margin: auto;
}

.contact form label {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  outline: none;
  display: block;
}

.contact form input {
  padding: 10px;
  margin: auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  outline: none;
  display: block;
  color: black;
  border: none;
  width: 100%;
  text-align: center;
}

.label-name,
.input-name {
  display: inline-block !important;
  width: 50% !important;
}

.contact form button {
  display: block;
  background: #63cdff;
  border: none;
  padding: 20px;
  border-radius: 10px;
  color: black;
  margin: 20px auto;
  cursor: pointer;
}

.contact form input.message {
  min-height: 200px;
}

@media only screen and (max-width: 1200px) {
  .contact form {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .iconsContainer,
  .iconsContainerDark {
    width: 150px;
  }

  .label-name,
  .input-name {
    display: block !important;
    width: 100% !important;
  }

  .contact form label {
    text-align: center;
  }
}
