.error {
  text-align: center;
}

.error > h2 {
  font-size: 3em;
  margin-top: 80px;
}

.error > h3 {
  font-size: 2em;
  font-weight: 400;
}

.error > p {
  font-size: 1em;
  font-weight: 400;
  margin-top: 40px;
}
