@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Bitter", serif;
  /* background: darkgrey; */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #a4a4a4, #4f4f4f, #a4a4a4);
  background-image: url(../../static/sun.jpg);
  background-size: 100%;
  background-position: center;
  /* clip-path: circle(15% at right 70%); */
  z-index: -1;
  /* animation: bodyBefore 10s ease-in infinite alternate; */
}

@keyframes bodyBefore {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(to right, #4f4f4f, #a4a4a4, #4f4f4f); */
  /* clip-path: circle(25% at 10% 30%); */
  background-image: url(../../static/moon1.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 30px 20px 30px white;
  z-index: -1;
  /* animation: bodyAfter 10s ease-in infinite alternate; */
}

@keyframes bodyAfter {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* layout & nav */

.layout {
  max-width: 90vw;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: center;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: white;
}

footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  margin-top: 30vh;
}
