@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Bitter", serif;
  background-image: url(../../static/bg.jpg);
  background-size: 100%;
  /* background-attachment: fixed; */
  /* background: #ddd;
  background-image: linear-gradient(90deg, #529dee, purple, #529dee);*/
  /* animation: bg-animation 30s ease-in infinite; */
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, #1d1d1d, #c2c2c2, #1d1d1d);
  background-size: 150%;
  clip-path: circle(15% at right 70%);
  z-index: -1;
  animation: bodyBefore 10s ease-in infinite alternate;
} */

@keyframes bodyBefore {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #1d1d1d, #c2c2c2, #1d1d1d);
  clip-path: circle(25% at 10% 30%);
  background-size: 150%;
  z-index: -1;
  animation: bodyAfter 10s ease-in infinite alternate;
} */

@keyframes bodyAfter {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* layout & nav */

.layout {
  max-width: 90vw;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: center;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover {
  border-color: white;
}

footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  margin-top: 30vh;
}
