@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Bitter", serif;
}

/* body::before for light mode theme only */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, #a4a4a4, #4f4f4f, #a4a4a4);
  background-image: url(../../static/wall1.jpg);
  background-size: 100%;
  background-position: center;
  z-index: -1;
}

/* body::after for dark mode theme only */
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../../static/wall.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 30px 20px 30px white;
  z-index: -1;
}

/* layout  */
.layout {
  max-width: 90vw;
  margin: 0 auto;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin: 20px auto;
}

/* nav title */
nav .title {
  width: 33.3%;
}
nav h1.dark-theme {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  outline: none;
  font-size: 2em;
  pointer-events: none;
  animation: title 5s linear infinite;
}

@keyframes title {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    text-shadow: 0 0 10px #63cdff, 0 0 20px #63cdff, 0 0 40px #63cdff,
      0 0 80px #63cdff, 0 0 160px #63cdff;
  }
}

/* nav theme toggle */
nav .theme-toggle {
  width: 33.3%;
  text-align: center;
}

nav .theme-toggle p {
  margin-bottom: 5px;
}

nav .theme-toggle p b {
  margin-left: 5px;
  font-size: 1.5em;
}

input[type="checkbox"] {
  position: relative;
  width: 120px;
  height: 40px;
  -webkit-appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

input:checked[type="checkbox"] {
  background: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 40px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

input:checked[type="checkbox"]::before {
  left: 40px;
}

input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 65px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: 0.5s;
}

input:checked[type="checkbox"]::after {
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
  left: 105px;
}

/* nav links */
nav .links {
  width: 33.3%;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

nav .links a {
  font-size: 1.5em;
}
