.timeline {
  text-align: center;
}

.timeline > h2 {
  font-size: 3em;
  margin-top: 80px;
}

.timeline > h3 {
  font-size: 2em;
  font-weight: 400;
}

.timeline > p {
  font-size: 1em;
  font-weight: 400;
  margin-top: 40px;
}
